@page "/"
@using System.Text.Json
@inject NekoClient nekoClient

<PageTitle>Рынок</PageTitle>

@if (nekoClient.GetNekos().Length == 0)
{
	<h2>Товаров больше не осталось, Господин</h2>
	<img src="/Images/pfelis/pf2.jpg" alt="ЭЭЭЭЭЭЭЭЭЭЭ" />
}
else
{
	@foreach (NekoPost nekoPost in nekoPosts)
	{
		<div class="card mb-4 box-shadow" style="display: flex; flex-direction: column; width: 40vh;">
			<img class="card-img-top" src="@nekoPost.Image" alt="ЭЭЭЭЭЭЭЭЭЭЭ"/>
			<div class="d-flex justify-content-between">
				<button class="btn btn-outline-secondary btn-block">@nekoPost.Price₽</button>
				<button class="btn btn-outline-secondary btn-block">@nekoPost.Name</button>
			</div>
			<a href="/nekopage/@nekoPost.Id" class="btn btn-outline-secondary btn-block">
				 Подробности...
			</a>
		</div>
	}	
}

@code{
	private List<NekoPost> nekoPosts = new List<NekoPost>();
	private bool got = false;

	protected override async Task OnInitializedAsync()
	{
		HttpClient client = new HttpClient();
		string url = "https://localhost:7778/Neko/GetNekos";

		HttpResponseMessage response = await client.GetAsync(url);

		if (response.IsSuccessStatusCode)
		{
			string jsonRes = await response.Content.ReadAsStringAsync();
			nekoPosts = JsonSerializer.Deserialize<List<NekoPost>>(jsonRes) ?? new List<NekoPost>();
			nekoClient.GottenPosts = nekoPosts;
		}
	}
}