@page "/"
@using System.Text.Json
@inject NekoClient nekoClient
@inject NavigationManager nav
@rendermode InteractiveServer

<PageTitle>Рынок</PageTitle>

@if (nekoClient.GetNekos().Length == 0)
{
	<h2>Товаров больше не осталось, Господин</h2>
	<img src="https://upload.wikimedia.org/wikipedia/commons/3/39/Breadindia.jpg" alt="ЭЭЭЭЭЭЭЭЭЭЭ" style="height: 50vh;" />
}
else
{
	<div style="display: flex; flex-wrap:wrap">
		@foreach (NekoPost nekoPost in nekoPosts)
		{
			<div class="card mb-4 box-shadow" style="display: flex; flex-direction: column; width: 40vh; margin: 2vh">
				<a @onclick="()=>NavTo(nekoPost.Id)">
					<img style="width: 40vh; height: 40vh; object-fit:contain" class="card-img-top" src="@nekoPost.Image" alt="ЭЭЭЭЭЭЭЭЭЭЭ" />
				</a>
				<a style="margin: 1vh; font-size: 3vh; text-decoration: none;" class="link-info card-body" @onclick="()=>NavTo(nekoPost.Id)">@nekoPost.Name</a>
				<div style="display: flex; justify-content: space-between" class="card-footer">
					<h5 style="margin: 1vh" class="text">@nekoPost.Price₽</h5>
					<button style="margin: 1vh" class="btn btn-outline-secondary" @onclick="()=>AddCart(nekoPost)">@(nekoClient.GetLiked().Any(n => n.Id == nekoPost.Id) ? "❤️" : "🤍")</button>
				</div>
			</div>
		}	
	</div>
}

@code{
	private NekoPost[] nekoPosts = [];

	protected override async Task OnInitializedAsync()
	{
		if (nekoClient.GottenPosts is null)
		{
			HttpClient client = new HttpClient();
			HttpResponseMessage response;

			string[] urls = new string[] 
			{
				"http://localhost:5556/neko/neko_get.php",
				"https://localhost:7778/Neko/GetNekos",
				"http://localhost:5555/Neko/GetNekos",
				"http://localhost:5000/Neko/GetNekos",
			};

			foreach(string url in urls)
			{
				try
				{
					Console.WriteLine("\n" + url + "\n");
					response = await client.GetAsync(url);
					Console.WriteLine($"{((int)response.StatusCode)} код");
					if ((int)response.StatusCode == 200 || response.IsSuccessStatusCode)
					{
						string jsonRes = await response.Content.ReadAsStringAsync();
						nekoClient.GottenPosts = JsonSerializer.Deserialize<List<NekoPost>>(jsonRes) ?? new List<NekoPost>();
						nekoClient.SetPosts(nekoClient.GottenPosts);
						Console.WriteLine(url + " был выбран");
						break;
					}
				}
				catch {/* (Exception e) { continue  Console.WriteLine(e);*/ }
			}
		}
		nekoPosts = nekoClient.GetNekos();
		Console.WriteLine(string.Join(" ", nekoPosts.Select(n => n.Id.ToString())));
	}

	private void AddCart(NekoPost neko)
	{
		if (nekoClient.GetLiked().Any(l => l.Id == neko.Id))
			nekoClient.DeleteLiked(neko.Id);
		else
			nekoClient.AddToLiked(neko);
	}

	private void NavTo(int id)
	{
		nekoClient.UrlWas = "nekolog";
		nav.NavigateTo("/nekopage/" + id);
	}
}