@page "/"
@using System.Text.Json
@inject NekoClient nekoClient

<PageTitle>Рынок</PageTitle>

@if (nekoClient.GetNekos().Length == 0)
{
	<h2>Товаров больше не осталось, Господин</h2>
	<img src="https://upload.wikimedia.org/wikipedia/commons/3/39/Breadindia.jpg" alt="ЭЭЭЭЭЭЭЭЭЭЭ" style="height: 50vh;" />
}
else
{
	@foreach (NekoPost nekoPost in nekoPosts)
	{
		<div class="card mb-4 box-shadow" style="display: flex; flex-direction: column; width: 40vh;">
			<img class="card-img-top" src="@nekoPost.Image" alt="ЭЭЭЭЭЭЭЭЭЭЭ"/>
				<button class="cart-body btn btn-outline-secondary btn-block">@nekoPost.Price₽</button>
				<button class="cart-body btn btn-outline-secondary btn-block">@nekoPost.Name</button>
			<div class="d-flex justify-content-between">
			</div>
			<a href="/nekopage/@nekoPost.Id" class="btn btn-outline-secondary btn-block">
				 Подробности...
			</a>
		</div>
	}	
}

@code{
	private NekoPost[] nekoPosts = [];

	protected override async Task OnInitializedAsync()
	{
		if (nekoClient.GottenPosts is null)
		{
			HttpClient client = new HttpClient();
			HttpResponseMessage response;

			string[] urls = new string[] 
			{
				"https://localhost:7778/Neko/GetNekos",
				"http://localhost:5555/Neko/GetNekos",
				"http://localhost:5000/Neko/GetNekos"
			};

			foreach(string url in urls)
			{
				try
				{
					response = await client.GetAsync(url);

					if (response.IsSuccessStatusCode)
					{
						string jsonRes = await response.Content.ReadAsStringAsync();
						nekoClient.GottenPosts = JsonSerializer.Deserialize<List<NekoPost>>(jsonRes) ?? new List<NekoPost>();
						nekoClient.SetPosts(nekoClient.GottenPosts);
						break;
					}
				}
				catch { /* continue */ }
			}
		}

		nekoPosts = nekoClient.GetNekos();
	}
}